.detail-section {
    margin-bottom: 16px;
    max-width: 840px;
}
.detail-section>header {
    color: var(--primary);
    font-size: 1.75em;
    margin-bottom: 8px;
}
.detail-section .detail-body {
    padding-left: 16px;
}
.detail-sub-section header {
    font-size: 1.25em;
}
.detail-sub-section header em {
    font-weight: 700;
    font-style: normal;
    color: var(--primary-dark);
    margin-right: 12px;
}
.detail-sub-section header .summary, .detail-sub-section time {
    font-size: 0.85em;
    color: var(--document-text-light);
}
.detail-sub-section time {
    display: block;
    margin-bottom: 8px;
}
.detail-sub-section .details {
    /* margin-top: 8px; */
    margin-bottom: 16px;
    padding-left: 16px;
}