.detail-sub-section {
    .details {
        margin-bottom: 12px;
        padding-left: 12px;
        li::before {
            content: ' ';
            display: inline-block;
            width: 5px;
            height: 5px;
            border: solid 1px #ccc;
            margin-right: 8px;
            margin-bottom: 1px;
        }
    }
} 