.detail-section {
    margin-bottom: 8px;
    max-width: 840px;

    >header {
        color: var(--primary);
        font-size: 1.75em;
        margin-bottom: 8px;
    }
    .detail-body {
        padding: 0 16px;
    }
    p.detail-body {
        white-space: pre-line;
    }
}