.subsection-header {
    font-size: 1.25em;

    .experience {
        font-weight: 700;
        font-style: normal;
        color: var(--primary-dark);
        margin-right: 12px;
    }

    .location {
        display: inline-block;
        font-size: 0.85em;
        margin-right: 8px;
    }
    .position, .duration {
        font-size: 0.85em;
        color: var(--document-text-light);
        white-space: nowrap;
        display: inline-block;
    }

    .duration {
        display: block;
        margin-bottom: 8px;
    }
}

