body, div, section, p, ol, ul, li, h1, h2, h3, h4, h5, hr {
    margin: 0;
    padding: 0;
}
ol, ul, li {
    display: block;
}
h1, h2, h3, h4, h5 {
    font-weight: 500;
}
.app {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    color: var(--document-text);
    display: grid;
    grid-template-areas: "personal-info main"
                         "skills main";
    grid-template-columns: 214px 1fr;
    min-height: 100vh;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
.view-online {
    display: none;
}
.skills {
    grid-area: skills;
}
.personal-info {
    grid-area: personal-info;
}
.main-content {
    grid-area: main;
}

.skills, .personal-info {
    background-color: var(--primary);
    border-left: none;
    border-right: none;
    padding: 16px;
    z-index: 2;
    color: white;

    a, p {
        color: var(--primary-text);
        display: inline-block;
        white-space: pre-line;
        text-decoration: none;
    }
}

@media screen and (max-width: 900px) {
    .app {
        grid-template-areas: 
                             "skills"
                             "main"
                             "personal-info"
                             ;
        grid-template-columns: 1fr;
    }
    .sidebar {
        order: 2;
    }
    .main-content {
        order: 1;
    }
}

@media screen and (min-width: 900px), print {
    .app {
        max-width: 8.5in;
        width: 8.5in;
        max-height: 11in;
        height: 11in;
        overflow: hidden;
    }
}

@media screen and (min-width: 900px) {
    body {
        padding: 16px;
    }
}

@media screen {
    body {
        background-color: #c3c3c3;
        display: flex;
        justify-content: center;
    }
    .app {
        z-index: 2;
        box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    }
}

@media print {
    .app {
        overflow: hidden;
    }
    .view-online {
        display: block;
    }
}
