body, div, section, p, ol, ul, li, h1, h2, h3, h4, h5, hr {
    margin: 0;
    padding: 0;
}
ol, ul, li {
    display: block;
}
h1, h2, h3, h4, h5 {
    font-weight: 500;
}
a[data-friendly]::before {
    content: attr(data-friendly)
}
a:empty::before {
    content: attr(href)
}
.app {
    font-family: 'Open Sans';
    font-size: 14px;
    color: var(--document-text);
    display: grid;
    grid-template-columns: 216px 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
}
@media screen {
    body {
        background-color: #c3c3c3;
        padding:16px;
        display: flex;
        justify-content: center;
    }
    .app {
        max-width: 8.5in;
        width: 8.5in;
        max-height: 11in;
        height: 11in;
        z-index: 2;
        box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07)
    }
}

.view-online {
    display: none;
}

@media print {
    a[data-friendly]::before {
        content: attr(href) "";
    }
    .app {
        max-width: 8.5in;
        width: 8.5in;
        max-height: 11in;
        height: 11in;
    }
    .view-online {
        display: block;
    }
}
