.skills {
    margin-top: auto;
    margin-bottom: 16px;
    li {
        margin-top: 8px;
        display: flex;
        align-items: center;
        .confidence-chart {
            margin-right: 16px;
            height: 12px;
            fill: white
        }
    }
}
@media (max-width: 900px) {
    .skills {
        margin-top: 16px;
    }
}