.skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: solid 8px var(--primary-dark);

    li {
        margin-top: 8px;
        display: flex;
        align-items: center;
        .confidence-chart {
            margin-right: 16px;
            height: 12px;
            fill: white
        }
    }
}
@media screen and (max-width: 900px) {
    .skills {
        ol{
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }
}